<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75802779329-vnpvirhgvt0frm5qclp6ti0l8fejqfp1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75802779329-vnpvirhgvt0frm5qclp6ti0l8fejqfp1</string>
	<key>API_KEY</key>
	<string>AIzaSyDw-LDYDVrtUngxyyxM1Y7MFteaUIPuos0</string>
	<key>GCM_SENDER_ID</key>
	<string>75802779329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vinnoworld.MessagingModel</string>
	<key>PROJECT_ID</key>
	<string>messaging-swiftui-firebasechat</string>
	<key>STORAGE_BUCKET</key>
	<string>messaging-swiftui-firebasechat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75802779329:ios:c8944ab891fabb1fe5fe40</string>
</dict>
</plist>